<%- include("header") -%>
        <div class="box " id= 'heading'><h1 > EasyTodo</h1>
            <p class='intro'> Simple , Elegent , easy to use and effiecient </p>
            <h4><%=day%></h4>
        </div>
        
        <div class="box">
                <form action="/delete" method="post">
                <% list.forEach(function(item){%>
                <div class="item">
                <input type="checkbox" name ='id' value="<%= item._id %>" id="" onChange="this.form.submit()"
                <p ><%= item.text %></p >
                </div>
                <% }) %>
                </form>
         <form class='item' action=<%= '/'+day%> method="post">
            <input placeholder="enter todo here" type="text" name='todoItem' autofocus autocomplete="off">
            <button type="submit" name='button' value=<%=day%> </button>+</button>
            </form>
    
        </div>
<%- include('footer')-%>

